.game__button {
  padding: 1rem 2rem;
  background: none;
  border: 2px solid black;
  font-family: inherit;
  font-size: 16px;
  width: 100%;
  margin: .5rem;
  cursor: pointer;
  &--secondary {
    background: none;
    border: 0px solid black;
    border-bottom: 2px solid black;
    padding: 1rem 0 0 0;
    font-family: inherit;
    font-size: 8px;
    cursor: pointer;
  }
  @media screen and (min-width: 30em) {
    width: auto;
  }
}
